/**
 * @file
 * Styles for leanpub markdown elements.
 */

/* Paragraph related styles. */

.leanpub-hanging-paragraph {
  padding-left: 2em;
  text-indent: -2em;
}

/* Code related styles. */

.leanpub-code-number-lines-wrapper {
  display: inline-block;
  margin-right: 12px;
}

.leanpub-code-lines-wrapper {
  display: inline-block;
  position: absolute;
}

.leanpub-code-lines {
  display: block;
}

.leanpub-style {
  white-space: pre;
}

/* Table related styles. */

.leanpub-table {
  margin: 0 auto;
}

.leanpub-table-cell-align-left {
  text-align: left;
}

.leanpub-table-cell-align-right {
  text-align: right;
}

.leanpub-table-cell-align-center {
  text-align: center;
}

/* Block related styles. */

.leanpub-block-icon.fa {
  font-size: 34px;
}

.leanpub-block-type-C {
  text-align: center;
}

.leanpub-block-type-A {
  border: 1px solid #c4c4c4;
  padding: 2em;
}

.leanpub-block-type-E,
.leanpub-block-type-D,
.leanpub-block-type-G,
.leanpub-block-type-I,
.leanpub-block-type-Q,
.leanpub-block-type-T,
.leanpub-block-type-W,
.leanpub-block-type-X {
  margin-left: 0em;
  padding: 1em 0 1em 0;
  position: relative;
}

.leanpub-block-type-E:before,
.leanpub-block-type-D:before,
.leanpub-block-type-I:before,
.leanpub-block-type-Q:before,
.leanpub-block-type-T:before,
.leanpub-block-type-W:before,
.leanpub-block-type-X:before {
  content: ' ';
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 1em;
  left: 0;
}

.leanpub-block-type-E:before {
  background: url('../images/leanpub-error.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-D:before {
  background: url('../images/leanpub-discussion.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-I:before {
  background: url('../images/leanpub-info.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-Q:before {
  background: url('../images/leanpub-question.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-T:before {
  background: url('../images/leanpub-tip.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-W:before {
  background: url('../images/leanpub-warning.png') no-repeat;
}

.leanpub-block-type-X:before {
  background: url('../images/leanpub-exercise.png') no-repeat;
  background-size: 40px;
}

.leanpub-block-type-E .leanpub-block-lines,
.leanpub-block-type-D .leanpub-block-lines,
.leanpub-block-type-G .leanpub-block-lines,
.leanpub-block-type-I .leanpub-block-lines,
.leanpub-block-type-Q .leanpub-block-lines,
.leanpub-block-type-T .leanpub-block-lines,
.leanpub-block-type-W .leanpub-block-lines,
.leanpub-block-type-X .leanpub-block-lines {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

.leanpub-block-type-A > *,
.leanpub-block-lines > * {
  margin-top: 0;
}
